@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


   body{

    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
   

   }
.container{
    
    height:100vh;
}

.progresses{
    display: flex;
        align-items: center;
   }

   .line{

    width: 120px;
    height: 2px;
    background: #b4bbb8;
   }

   
   .steps{

    display: flex;
    background-color: #b4bbb8;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

   }
   .progress-text {
    position: absolute;
    top: 58px;
    margin-left: 5px;
    color: black;
   }
