<div>
    <div class="main-bar header-middle bg-white">
        <div class="">
          <div class="logo-header">
            <a href="javascript:void(0)">
              <div class="logo">
                <img class="national_emblem" src="../../../assets/images/Emirates_logo.png" alt="national emblem">
                <!-- <div class="logo-text-line">
                  <span class="logo-hind">सड़क परिवहन और राजमार्ग मंत्रालय</span><span class="logo-eng">Ministry of Road
                    Transport and Highways</span>
                    <span class="logo-eng" style="line-height: 30px;">Grant Management System</span>
                </div> -->
              </div>
            </a>
          </div>
          <div class="header-info">
            <ul style="padding-left: 0;">
              <li *ngIf="loginUser=='citizen'">
                <a target="_blank" href="javascript:void(0)" rel="noopener noreferrer" class="" style="margin-top: 20px;">
                  <img [src]="imgSrc" alt="" class="city-logo">
                </a>
              </li>
              <li *ngIf="loginUser=='employee'">
                <a target="_blank" href="javascript:void(0)" rel="noopener noreferrer" class="btn btn-secondary" style="margin-top: 20px;">
                  <img [src]="imgSrc" alt="">
                </a>
              </li>
              <li>
                <a target="_blank" href="javascript:void(0)" rel="noopener noreferrer" class="btn btn-secondary" style="margin-top: 10px;">
                    <span style="color: white; font-weight: 600;">Enhanced DIGIT</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <app-sub-header></app-sub-header>
</div>