<app-header-page></app-header-page>
<div style="padding: 20px;">
    <div class="card">
        <div class="card-body">
            <div class="success-header">
                <div >
                    Application Submitted Successfully
                </div>
                
                <div class="success-icon">
                    <span>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </span>
                    
                </div>
                <div style="font-size: 16px;">
                    TL-20200
                </div>
            </div>
            <div class="success-footer">
                <p>
                    The notification along with the application number is sent to your registered mobile number. You can make payment later using the Track Application link from the home page once you receive the message in your mobile number.
                </p>
            </div>
            <div style="float: right;padding-top: 10px">
                <a class="btn btn-primary" href="javascript:void(0)" (click)="gotohome()">Go to home</a>
            </div>
        </div>
    </div>
</div>
