.success-header {
    background: #116c11;
    height: auto;
    text-align: center;
    font-size: 21px;
    padding: 15px;
    color: white;
    font-weight: 500;
}
.success-icon span {
    border: 1px solid;
    border-radius: 50px;
    background: white;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.success-icon span i {
    color: #116c11;
    top: 7px;
    position: relative;
}
.success-footer {
    margin-top: 10px;
}