<div class="page-body">
    <div>
        <h2>New Trade Licence Application</h2>
    </div>
    <div class="form-container">
        <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="tradeDetailsFormGroup">
              <form [formGroup]="tradeDetailsFormGroup">
                <ng-template matStepLabel>Trade Details</ng-template>
                <mat-form-field>
                  <mat-label>Financial Year</mat-label>
                  <mat-select formControlName="year" name="food" required>
                    <mat-option *ngFor="let year of finYears" [value]="year.value">
                      {{year.name}}
                    </mat-option>
                  </mat-select>
                  
                  
                </mat-form-field>
                <mat-form-field>
                  <mat-label>License Type</mat-label>
                  <mat-select formControlName="licenceType" name="licenceType" [disabled]="true" required>
                    <mat-option *ngFor="let type of licenceTypes" [value]="type">
                      {{type}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Trade Name</mat-label>
                    <input matInput placeholder="Trade Name" formControlName="tradeName" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Structure Type</mat-label>
                    <mat-select formControlName="structureType" name="structureType" required>
                      <mat-option *ngFor="let type of structureTypes" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Structure Sub Type</mat-label>
                    <mat-select formControlName="subStructureType" name="subStructureType" required>
                      <mat-option *ngFor="let type of subStructureTypes" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Trade Commencement Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="tradeCommencementDate" required="">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label>Trade GST Number</mat-label>
                    <input matInput placeholder="Trade GST Number" formControlName="tradeGSTNumber">
                </mat-form-field> -->
                <mat-form-field>
                    <mat-label>Operational Sq.ft Area</mat-label>
                    <input matInput placeholder="Operational Sq.ft Area" formControlName="operationalArea">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Number of Employees</mat-label>
                    <input matInput placeholder="Number of Employees" formControlName="numberOfEmployees">
                </mat-form-field>
                  
                <div>
                  <button mat-button matStepperNext class="btn btn-primary">Save & Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="tradeUnits">
              <form [formGroup]="tradeUnits">
                <ng-template matStepLabel>Trade Units</ng-template>
                <div formGroupName="phaseExecutions">
                    <div formArrayName="PRE">
                        <div *ngFor="let phase of phaseArray.controls; let i = index;" [formGroupName]="i">
                          <mat-form-field>
                            <mat-label>Trade Category</mat-label>
                            <mat-select formControlName="tradeCategory" name="tradeCategory" required>
                                <mat-option *ngFor="let type of tradeCategoryList" [value]="type">
                                  {{type}}
                                </mat-option>
                            </mat-select>
                            
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Trade Type</mat-label>
                            <mat-select formControlName="tradeType" name="tradeType" required>
                                <mat-option *ngFor="let type of tradeTypeList" [value]="type">
                                  {{type}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Trade Sub Type</mat-label>
                            <mat-select formControlName="tradeSubType" name="tradeSubType" required>
                                <mat-option *ngFor="let type of tradeSubTypeList" [value]="type">
                                  {{type}}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>UOM</mat-label>
                            <input matInput placeholder="UOM" formControlName="uom">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>UOM Value</mat-label>
                            <input matInput placeholder="UOM Value" formControlName="uomValue">
                          </mat-form-field>
                        </div>
                    </div>
                    <button mat-button color="accent"(click)="addMoreTradeUnits()">Add Trade Unit</button>
                    
                </div>
                
                <br/>
                <div>
                  <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                  <button mat-button matStepperNext class="btn btn-primary">Save & Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="accessoriesFormGrp">
                <form [formGroup]="accessoriesFormGrp">
                  <ng-template matStepLabel>Accessories</ng-template>
                  <div formGroupName="accessoriesFormGroup">
                    <div formArrayName="accessoriesForm">
                        <div *ngFor="let phase of accessoriesFormArray.controls; let i = index;" [formGroupName]="i">
                            <mat-form-field>
                                <mat-label>Accessories</mat-label>
                                <mat-select formControlName="accessories" name="accessories">
                                    <mat-option *ngFor="let type of accessoriesList" [value]="type">
                                      {{type}}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>UOM</mat-label>
                                <input matInput placeholder="UOM" formControlName="uom">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>UOM Value</mat-label>
                                <input matInput placeholder="UOM Value" formControlName="uomValue">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Accessory Count</mat-label>
                                <input matInput placeholder="Accessory Count" formControlName="accessoryCount" required="">
                              </mat-form-field>
                        </div>
                    </div>
                    <button mat-button color="accent" (click)="addMoreAccessoriesForm()">Add Accessories</button>
                    
                  </div>
                  
                  <br/>
                  <div>
                    <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                    <button mat-button matStepperNext class="btn btn-primary">Save & Next</button>
                  </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="propertyGroup">
                <form [formGroup]="propertyGroup">
                  <ng-template matStepLabel>New Property</ng-template>
                  <mat-form-field>
                    <mat-label>Property ID</mat-label>
                    <input matInput placeholder="Property ID" formControlName="propertyId" required>
                  </mat-form-field>
                  <button mat-raised-button color="accent" (click)="onSearchProperty()" style="margin-left: 20px;">Search</button>
                  <br/>
                  <div *ngIf="showPropertyDetails">
                    <h2>Property Details</h2>
                    <div class="row">
                        <div class="col-sm-2">
                            Property ID
                        </div>
                        <div class="col-sm-10">
                            {{this.propertyGroup.get('propertyId').value}}
                        </div>
                        <div class="col-sm-2">
                            Owner Name
                        </div>
                        <div class="col-sm-10">
                            Rayn Jack
                        </div>
                        <div class="col-sm-2">
                            Property Address
                        </div>
                        <div class="col-sm-10">
                            Jan-42/3, Salta
                        </div>
                    </div>
                  </div>
                  <br/>
                  <div>
                    <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                    <button mat-button matStepperNext class="btn btn-primary">Save & Next</button>
                  </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="tradeAddressFormGroup">
                <form [formGroup]="tradeAddressFormGroup">
                  <ng-template matStepLabel>Trade Address</ng-template>
                  <mat-form-field>
                    <mat-label>Zip Code</mat-label>
                    <input matInput placeholder="Zip Code" formControlName="pincode">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city" required readonly>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Locality </mat-label>
                        <mat-select formControlName="locality" name="locality" required>
                            <mat-option *ngFor="let type of localityList" [value]="type">
                            {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Building Number </mat-label>
                        <input matInput placeholder="Building Number" formControlName="buildingNumber">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Street Name </mat-label>
                        <input matInput placeholder="Street Name" formControlName="streetName">
                    </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                    <button mat-button matStepperNext class="btn btn-primary">Save & Next</button>
                  </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="ownershipDetailsFormGrp">
                <form [formGroup]="ownershipDetailsFormGrp">
                    <ng-template matStepLabel>Ownership Details</ng-template>
                    <mat-form-field>
                        <mat-label>Type Of ownership</mat-label>
                        <mat-select formControlName="typeOfOwnership" name="typeOfOwnership" required (selectionChange)="onChangeOwnershipDetails($event.value)">
                            <mat-option *ngFor="let type of typeOfOwnershipList" [value]="type">
                              {{type}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div >
                        <div formArrayName="ownershipDetailsForm" *ngFor="let phase of ownershipDetailsArray.controls; let i = index;">
                            <div  [formGroupName]="i" class="owner-detail-cls">
                              <mat-form-field>
                                <mat-label>Owner’s Name</mat-label>
                                <input matInput placeholder="Owner’s Name" formControlName="ownerName" required>
                                
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Owner’s Mobile Number</mat-label>
                                <input matInput placeholder="Owner’s Mobile Number" formControlName="ownerMobileNumber" required>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Guardian’s Name</mat-label>
                                <input matInput placeholder="Guardian’s Name" formControlName="guardianName" required>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Relationship with Guardian</mat-label>
                                <mat-select formControlName="relationshipWithGuardian" name="relationshipWithGuardian" required>
                                    <mat-option *ngFor="let type of relationshipWithGuardianList" [value]="type">
                                      {{type}}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Gender</mat-label>
                                <mat-select formControlName="gender" name="gender" required>
                                    <mat-option *ngFor="let type of genderList" [value]="type">
                                      {{type}}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Owner Special Category</mat-label>
                                <input matInput placeholder="Owner Special Category" formControlName="ownerSpecialCategory">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Correspondence Address</mat-label>
                                <input matInput placeholder="Correspondence Address" formControlName="correspondenceAddress">
                              </mat-form-field>
                            </div>
                        </div>
                        <button *ngIf="this.ownershipDetailsFormGrp.get('typeOfOwnership').value== 'Multiple Owners'" mat-button color="accent"(click)="addMoreOwnershipDetails()">ADD OWNER</button>
                        
                    </div>
                    <div  >
                        <div formArrayName="institutionalDetailsForm" *ngFor="let phase of institutionalDetailsArray.controls; let i = index;">
                            <div [formGroupName]="i" >
                              <mat-form-field>
                                <mat-label>Institution Name</mat-label>
                                <input matInput placeholder="Institution Name" formControlName="institutionName" required>
                                
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>Type of Institution</mat-label>
                                <input matInput placeholder="Type of Institution" formControlName="typeOfInstitution" required>
                              </mat-form-field>
                            </div>
                        </div>
                        
                    </div>
                    
                    <br/>
                    <div>
                      <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                      <button mat-button matStepperNext class="btn btn-primary">Save & Next</button>
                    </div>
                  </form>
            </mat-step>
            <mat-step [stepControl]="documentFormGroup">
                <form>
                  <ng-template matStepLabel>Documents Required</ng-template>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Trade Owner ID</label>
                        <div class="col-sm-8">
                            <input type="text" name="filename2" class="form-control" placeholder="No file selected" readonly>
                            <span class="input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader select-file-txt">
                                    Select a file
                                  <input type="file" name="file" onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''" />
                                  
                                </div>
                              </span>
                              <!-- <span class="select-file-txt btn btn-outline-secondary">Select a file</span> -->
                        </div>
                      </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Ownership Documents</label>
                        <div class="col-sm-8">
                            <input type="text" name="filename2" class="form-control" placeholder="No file selected" readonly>
                            <span class="input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader select-file-txt">
                                  
                                  <input type="file" name="file" onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''" />
                                  Select a file
                                </div>
                              </span>
                        </div>
                      </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Trade Owner Photograph</label>
                        <div class="col-sm-8">
                            <input type="text" name="filename2" class="form-control" placeholder="No file selected" readonly>
                            <span class="input-group-btn">
                                <div class="btn btn-outline-secondary custom-file-uploader select-file-txt">
                                  
                                  <input type="file" name="file" onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''" />
                                  Select a file
                                </div>
                              </span>
                        </div>
                      </div>
                      <br/>
                  <div>
                    <button mat-button (click)="submit()" class="btn btn-primary">Submit</button>
                    <button mat-button (click)="stepper.reset()" class="btn btn-warning">Reset</button>
                    <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                    
                    
                  </div>
                </form>
            </mat-step>
            
          </mat-horizontal-stepper>
    </div>
    
    <!-- <div class="card">
        <div class="card-body">
            <app-progress-bar [steps]="steps"></app-progress-bar>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5>Trade Details</h5>
              <form action="">
                <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                  </div>
              </form>
            </div>
          </div>
    </div>
    <div class="card card-button">
        <div class="card-body">
            <button class="btn btn-primary" (click)="saveandnext()">Save & next</button>
        </div>
    </div> -->
</div>
