<app-header-page></app-header-page>
<div>
    <div>
        <app-carousal></app-carousal>
    </div>
    <div class="row" style="padding: 30px;">
        <div class="col-sm-8" style="border: 1px solid;">
            <h5>United Arab Emirates</h5>
            <p>
                The United Arab Emirates is a federation of seven emirates, with Abu Dhabi as its capital, located in the Western Asia on the Eastern Coast of the Arabian Peninsula. The seven emirates are: Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al Quwain, Ras Al Khaimah and Fujairah. The UAE was founded on 2nd December 1971, and celebrates the day as its National Day every year. The year 2021 coincides with the celebration of the 50th anniversary of its establishment.
            </p>
        </div>
        <div class="col-sm-4" style="border: 1px solid;">
            <img src="../../assets/images/map.svg" alt="">
        </div>
    </div>
</div>