.carousel-inner .carousel-item{
	height: 100vh !important;
}
.banner{
	height: 100vh;
	background-position: center;
  
}
.main-menu-logo{
	position: fixed;
	top:0;
	z-index: 100;
	width: 100%;
	background: #b1b1b14f;
}
.navbar-brand{
	font-size: 30px;
	font-weight: bold;
	color: #fff !important;
}
.nav-item a{
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 20px !important;
	color: #fff !important;
}
.nav-item a:hover{
	color: #000 !important;
}
.carousel-caption{
	bottom: 40%;
	display: block !important;
}
.carousel-caption h1{
	font-size: 100px;
	letter-spacing: 2px;
	color:  #ffb221;
 
}
.carousel-caption h2{
	font-size: 80px;
	letter-spacing: 2px;
	color:  #24fbfd;
}
.carousel-caption h3{
	font-size: 60px;
	letter-spacing: 2px;
	color:  #c49dff;
}

.carousel-caption h4{
	font-size: 40px;
	letter-spacing: 2px;
	color:  #24fbfd;
}
.carousel-caption h5{
	font-size: 20px;
	letter-spacing: 2px;
	color:  #24fbfd;
}

@media (min-width: 0px) and (max-width: 768px) {
  .carousel-caption{
    bottom: 30%;
    display: block !important;
  }
  
  .carousel-caption h1{
    font-size: 30px;
    letter-spacing: 2px;
  }
  .carousel-caption h2{
    font-size: 20px;
    letter-spacing: 2px;
  }
  .carousel-caption h3{
    font-size: 18px;
    letter-spacing: 2px;
  }

}

.card-home {
	background: rgba(255,255,255,.8);
    border-radius: 0;
    opacity: 1;
}
.home-footer {
	position: absolute;
    bottom: -161px;
    width: 100%;
}
.cl-2 {
	text-align: center;
	z-index: 11;
	cursor: pointer;
}
.cl-2-1 {
	display: inline-block;
    border: 1px solid #26890d;
    height: 70px;
    width: 70px;
    border-radius: 70%;
}
.cl-2-1:hover {
    background-color: white;
}
.cl-2-1 mat-icon{
	font-size: 30px;
    color: #26890d;
    /* top: 10px; */
    /* position: absolute; */
    /* left: 0; */
    margin-top: 20px;
    margin-left: -3px;
}
.cl-2-1 span{
	margin-top: 15px;
    display: inline-block;
	font-size: 15px;
}
.cl-2-1 span:hover{
	color: #26890d;
}