
<div>
    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="false">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
  
  
            <div class="carousel-inner">
  
              <div class="carousel-item active">
                <div class="banner" style="background-image: url('../../../assets/images/abuDhabi.jpg');background-repeat: no-repeat;background-size:  100%;"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Dubai Building Code</h3>
                    <h5>Unified Buildings Rules and Regulations Across Dubai</h5>
                 </div>
                 <div class="search-header-area search-header-area-home"> 
                    <a href="javascript:void(0)" title="Click here to search" class="search-btn-mic mic-pos search-voice"><span class="sr-only">Search</span><i class="fas fa-microphone"></i></a>
                   <input type="text" id="autotags" class="searchTxt searchBox ui-autocomplete-input" title="Search Services, News, Information, Circulars..." placeholder="Search Services, News, Information, Circulars..." autocomplete="off">
                    <a id="searchID" class="searchNewBtn" href="/search/" title="Click here to search" aria-label="Search" style="float: right;"><span class="sr-only">Search</span><i class="search-btn-mag fal fa-search"></i></a>
            </div>
              </div>
              
  
              <div class="carousel-item ">
                <div class="banner" style="background-image: url('../../../assets/images/dubai.jpg'); background-repeat: no-repeat;background-size:  100%;"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="">PIXEL PERFECT DESIGN</h1>
                    <h2 class="">PSD TO HTML</h2>
                    <h3 class="">BOOTSTRAP</h3>
                </div>
              </div>
  
  
              <div class="carousel-item ">
                <div class="banner" style="background-image: url('https://images.pexels.com/photos/373465/pexels-photo-373465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
                <div class="carousel-caption d-none d-md-block">
                  <h1 class="">RESPONSIVE WEBSITE</h1>
                  <h2 class="">PSD TO HTML</h2>
                  <h3 class="">BOOTSTRAP</h3>
                 </div>
              </div>
             
  
              
  
            </div>
  
  
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</div>
